[submodule "tir-x-backend"]
	path = tir-x-backend
	url = https://github.com/SGGW-computer-science/tir-x-backend.git
[submodule "tir-x-frontend"]
	path = tir-x-frontend
	url = https://github.com/SGGW-computer-science/tir-x-frontend.git
